# Yelp Data Cleaning Demo - Zion

## This is a demo of the data cleaning pipeline and the visual checks I go through

## Read in text data

In [70]:
import pandas as pd
import numpy as np

yelpDataset = pd.read_csv('Yelp.txt', sep='\t', header=None, encoding='latin-1')
yelpDataset.columns = ['review', 'sentiment']

yelpDataset.head()

                                              review  sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

## Exploring the dataset

### What is the shape of the dataset?

In [71]:
print ('Input data has {} rows and {} columns.'.format(len(yelpDataset), len(yelpDataset.columns)))

Input data has 1000 rows and 2 columns.

### How many reviews are positive/negative?

In [72]:
print('Out of {} rows, {} are positive (1) and {} negative (0).'.format(len(yelpDataset),
                                                                       len(yelpDataset[yelpDataset['sentiment'] == 1]),
                                                                       len(yelpDataset[yelpDataset['sentiment'] == 0])))

Out of 1000 rows, 500 are positive (1) and 500 negative (0).

### Any missing data?

In [73]:
print("Number of null in label: {}".format(yelpDataset['sentiment'].isnull().sum()))
print("Number of null in label: {}".format(yelpDataset['review'].isnull().sum()))

Number of null in label: 0
Number of null in label: 0

In [74]:
print(yelpDataset[:])

                                                review  sentiment
0                             Wow... Loved this place.          1
1                                   Crust is not good.          0
2            Not tasty and the texture was just nasty.          0
3    Stopped by during the late May bank holiday of...          1
4    The selection on the menu was great and so wer...          1
5       Now I am getting angry and I want my damn pho.          0
6                Honeslty it didn't taste THAT fresh.)          0
7    The potatoes were like rubber and you could te...          0
8                            The fries were great too.          1
9                                       A great touch.          1
10                            Service was very prompt.          1
11                                  Would not go back.          0
12   The cashier had no care what so ever on what I...          0
13   I tried the Cape Cod ravoli, chicken,with cran...          1
14   I was disgusted because I was pretty sure that...          0
15   I was shocked because no signs indicate cash o...          0
16                                 Highly recommended.          1
17              Waitress was a little slow in service.          0
18   This place is not worth your time, let alone V...          0
19                                did not like at all.          0
20                                 The Burrittos Blah!          0
21                                  The food, amazing.          1
22                               Service is also cute.          1
23   I could care less... The interior is just beau...          1
24                                  So they performed.          1
25   That's right....the red velvet cake.....ohhh t...          1
26          - They never brought a salad we asked for.          0
27   This hole in the wall has great Mexican street...          1
28   Took an hour to get our food only 4 tables in ...          0
29                   The worst was the salmon sashimi.          0
..                                                 ...        ...
970  I immediately said I wanted to talk to the man...          0
971                    The ambiance isn't much better.          0
972  Unfortunately, it only set us up for disapppoi...          0
973                              The food wasn't good.          0
974  Your servers suck, wait, correction, our serve...          0
975      What happened next was pretty....off putting.          0
976  too bad cause I know it's family owned, I real...          0
977               Overpriced for what you are getting.          0
978               I vomited in the bathroom mid lunch.          0
979  I kept looking at the time and it had soon bec...          0
980  I have been to very few places to eat that und...          0
981  We started with the tuna sashimi which was bro...          0
982                            Food was below average.          0
983  It sure does beat the nachos at the movies but...          0
984       All in all, Ha Long Bay was a bit of a flop.          0
985  The problem I have is that they charge $11.99 ...          0
986  Shrimp- When I unwrapped it (I live only 1/2 a...          0
987     It lacked flavor, seemed undercooked, and dry.          0
988  It really is impressive that the place hasn't ...          0
989  I would avoid this place if you are staying in...          0
990  The refried beans that came with my meal were ...          0
991         Spend your money and time some place else.          0
992  A lady at the table next to us found a live gr...          0
993            the presentation of the food was awful.          0
994           I can't tell you how disappointed I was.          0
995  I think food should have flavor and texture an...          0
996                           Appetite instantly gone.          0
997  Overall I was not impressed and would not go b...          0
998  The whole experience was underwhelming, and I ...          0
999  Then, as if I hadn't wasted enough of my life ...          0

[1000 rows x 2 columns]

### Remove punctuation and uppercases

In [75]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [76]:
import string

def removePunct(text):
    noPunct = ''.join([char for char in text if char not in string.punctuation])
    return noPunct

# .apply() is a pandas method that applies a function across an index/column in a dataframe
yelpDataset['review_clean'] = yelpDataset['review'].apply(lambda x: removePunct(x.lower()))

yelpDataset.head()

,review,sentiment,review_clean
0,Wow... Loved this place.,1,wow loved this place
1,Crust is not good.,0,crust is not good
2,Not tasty and the texture was just nasty.,0,not tasty and the texture was just nasty
3,Stopped by during the late May bank holiday of...,1,stopped by during the late may bank holiday of...
4,The selection on the menu was great and so wer...,1,the selection on the menu was great and so wer...

In [77]:
df1 = pd.DataFrame(data = yelpDataset['review_clean'])
#numpy array for review 
df1 = df1['review_clean'].tolist()
df2 = pd.DataFrame(data = yelpDataset['sentiment'])
#numpy array for sentiment 
df2 = df2['sentiment'].tolist()

print (df1[:5])
print (df2[:5])

['wow loved this place', 'crust is not good', 'not tasty and the texture was just nasty', 'stopped by during the late may bank holiday off rick steve recommendation and loved it', 'the selection on the menu was great and so were the prices']
[1, 0, 0, 1, 1]