In [ ]:
#https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html

In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20180101', periods = 6)
dates

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns = list('WXYZ'))
df

                   W         X         Y         Z
2018-01-01  0.511086  2.907041 -0.388006  0.788257
2018-01-02 -2.562040 -0.810764 -0.418541  0.231091
2018-01-03 -1.202700  0.103894 -0.445947  0.762817
2018-01-04 -0.130568  0.522665 -0.669630  0.843603
2018-01-05  0.389967  1.107008  1.401458  0.922918
2018-01-06 -0.676416 -2.106685  0.358886 -0.025570

In [8]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [11]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [21]:
#Show first (x) rows
df.head(5)

                   W         X         Y         Z
2018-01-01  0.511086  2.907041 -0.388006  0.788257
2018-01-02 -2.562040 -0.810764 -0.418541  0.231091
2018-01-03 -1.202700  0.103894 -0.445947  0.762817
2018-01-04 -0.130568  0.522665 -0.669630  0.843603
2018-01-05  0.389967  1.107008  1.401458  0.922918

In [22]:
#Show last (x) rows
df.tail(2)

                   W         X         Y         Z
2018-01-05  0.389967  1.107008  1.401458  0.922918
2018-01-06 -0.676416 -2.106685  0.358886 -0.025570

In [23]:
df.index

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df.columns

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [30]:
df.to_numpy()

AttributeError: 'DataFrame' object has no attribute 'to_numpy'

In [31]:
df.describe()

              W         X         Y         Z
count  6.000000  6.000000  6.000000  6.000000
mean  -0.611778  0.287193 -0.026963  0.587186
std    1.153496  1.706512  0.782498  0.387818
min   -2.562040 -2.106685 -0.669630 -0.025570
25%   -1.071129 -0.582099 -0.439096  0.364022
50%   -0.403492  0.313279 -0.403274  0.775537
75%    0.259834  0.960922  0.172163  0.829766
max    0.511086  2.907041  1.401458  0.922918

In [32]:
df.T

   2018-01-01  2018-01-02  2018-01-03  2018-01-04  2018-01-05  2018-01-06
W    0.511086   -2.562040   -1.202700   -0.130568    0.389967   -0.676416
X    2.907041   -0.810764    0.103894    0.522665    1.107008   -2.106685
Y   -0.388006   -0.418541   -0.445947   -0.669630    1.401458    0.358886
Z    0.788257    0.231091    0.762817    0.843603    0.922918   -0.025570

In [33]:
df.sort_index(axis = 1, ascending = False)

                   Z         Y         X         W
2018-01-01  0.788257 -0.388006  2.907041  0.511086
2018-01-02  0.231091 -0.418541 -0.810764 -2.562040
2018-01-03  0.762817 -0.445947  0.103894 -1.202700
2018-01-04  0.843603 -0.669630  0.522665 -0.130568
2018-01-05  0.922918  1.401458  1.107008  0.389967
2018-01-06 -0.025570  0.358886 -2.106685 -0.676416

In [36]:
df.sort_values(by='Y')

                   W         X         Y         Z
2018-01-04 -0.130568  0.522665 -0.669630  0.843603
2018-01-03 -1.202700  0.103894 -0.445947  0.762817
2018-01-02 -2.562040 -0.810764 -0.418541  0.231091
2018-01-01  0.511086  2.907041 -0.388006  0.788257
2018-01-06 -0.676416 -2.106685  0.358886 -0.025570
2018-01-05  0.389967  1.107008  1.401458  0.922918